<p id="notice"><%= notice %></p>
<div class="article-show">
<p class="title">
Title:
  <%= @link.title %>
</p>

<p>
Description:
  <%= @link.description %>
</p>

<p class="author">
  <span>Author:</span>
  <%= @link.user.username %>
</p>

<% if @link.user_id == current_user.id%>
  <div class="edit">
    <%= link_to 'Edit', edit_link_path(@link) %>
    <%= link_to 'Back', links_path %>
  </div>
<% end %>
</div>